<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>buildmotion-workspace documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">buildmotion-workspace documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
    <input type="text" placeholder="Type to search">
</div>
            <nav>

    <ul class="list">

        <li class="title">
            <a href="index.html" data-type="index-link">buildmotion-workspace documentation</a>
        </li>

        <li class="divider"></li>


        <li class="chapter">
            <a data-type="chapter-link" href="index.html"><span class="fa fa-home"></span>Getting started</a>
            <ul class="links">
                    <li class="link">
                        <a 
                            
                             href="overview.html" 
                             href="overview.html" 
                            data-type="chapter-link">
                            <span class="fa fa-fw fa-th"></span>Overview
                        </a>
                    </li>
                    <li class="link">
                      <a href="index.html" data-type="chapter-link"><span class="fa fa-file-text-o"></span>README</a>
                    </li>
                    <li class="link">
                        <a href="dependencies.html"
                            data-type="chapter-link">
                            <span class="fa fa-fw fa-list"></span>Dependencies
                        </a>
                    </li>
            </ul>
        </li>


        <li class="chapter modules">
            <a data-type="chapter-link" href="modules.html">
                <div class="menu-toggler linked" data-toggle="collapse"
                        data-target="#xs-modules-links"
                >
                    <span class="fa fa-fw fa-archive"></span>
                    <span class="link-name">Modules</span>
                    <span class="fa fa-angle-down"></span>
                </div>
            </a>
            <ul class="links collapse"
                    id="xs-modules-links"
                >
                    <li class="link">
                        <a href="modules/BuildMotionCoreModule.html" data-type="entity-link">BuildMotionCoreModule</a>
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-toggle="collapse"
                                        data-target="#xs-components-links-module-BuildMotionCoreModule-212f08a3ce88c5852b9d2b55e926e246"
                                    >
                                    <span class="fa fa-fw fa-cogs"></span>
                                    <span>Components</span>
                                    <span class="fa fa-angle-down"></span>
                                </div>
                                <ul class="links collapse"
                                        id="xs-components-links-module-BuildMotionCoreModule-212f08a3ce88c5852b9d2b55e926e246"
                                    >
                                        <li class="link">
                                            <a href="components/AlertComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">AlertComponent</a>
                                        </li>
                                </ul>
                            </li>
                    </li>
                    <li class="link">
                        <a href="modules/CoreModule.html" data-type="entity-link">CoreModule</a>
                    </li>
            </ul>
        </li>










        <li class="chapter">
            <a data-type="chapter-link" href="coverage.html"><span class="fa fa-fw fa-tasks"></span>Documentation coverage</a>
        </li>

        <li class="divider"></li>
        <li class="copyright">
                Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                            <img data-src="images/compodoc-vectorise.svg" class="img-responsive" data-type="compodoc-logo">
                </a>
        </li>

    </ul>

</nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>

    <ul class="list">

        <li class="title">
            <a href="index.html" data-type="index-link">buildmotion-workspace documentation</a>
        </li>

        <li class="divider"></li>

            <div id="book-search-input" role="search">
    <input type="text" placeholder="Type to search">
</div>

        <li class="chapter">
            <a data-type="chapter-link" href="index.html"><span class="fa fa-home"></span>Getting started</a>
            <ul class="links">
                    <li class="link">
                        <a 
                            
                             href="overview.html" 
                             href="overview.html" 
                            data-type="chapter-link">
                            <span class="fa fa-fw fa-th"></span>Overview
                        </a>
                    </li>
                    <li class="link">
                      <a href="index.html" data-type="chapter-link"><span class="fa fa-file-text-o"></span>README</a>
                    </li>
                    <li class="link">
                        <a href="dependencies.html"
                            data-type="chapter-link">
                            <span class="fa fa-fw fa-list"></span>Dependencies
                        </a>
                    </li>
            </ul>
        </li>


        <li class="chapter modules">
            <a data-type="chapter-link" href="modules.html">
                <div class="menu-toggler linked" data-toggle="collapse"
                        data-target="#modules-links"
                >
                    <span class="fa fa-fw fa-archive"></span>
                    <span class="link-name">Modules</span>
                    <span class="fa fa-angle-down"></span>
                </div>
            </a>
            <ul class="links collapse"
                    id="modules-links"
>
                    <li class="link">
                        <a href="modules/BuildMotionCoreModule.html" data-type="entity-link">BuildMotionCoreModule</a>
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-toggle="collapse"
                                        data-target="#components-links-module-BuildMotionCoreModule-212f08a3ce88c5852b9d2b55e926e246"
>
                                    <span class="fa fa-fw fa-cogs"></span>
                                    <span>Components</span>
                                    <span class="fa fa-angle-down"></span>
                                </div>
                                <ul class="links collapse"
                                        id="components-links-module-BuildMotionCoreModule-212f08a3ce88c5852b9d2b55e926e246"
>
                                        <li class="link">
                                            <a href="components/AlertComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">AlertComponent</a>
                                        </li>
                                </ul>
                            </li>
                    </li>
                    <li class="link">
                        <a href="modules/CoreModule.html" data-type="entity-link">CoreModule</a>
                    </li>
            </ul>
        </li>










        <li class="chapter">
            <a data-type="chapter-link" href="coverage.html"><span class="fa fa-fw fa-tasks"></span>Documentation coverage</a>
        </li>

        <li class="divider"></li>
        <li class="copyright">
                Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                            <img data-src="images/compodoc-vectorise.svg" class="img-responsive" data-type="compodoc-logo">
                </a>
        </li>

    </ul>

</nav>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>AlertComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>libs/core/src/components/alert/alert.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>buildmotion-alert</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div *ngIf&#x3D;&quot;hasMessage&quot; class&#x3D;&quot;alert {{alertNotification.type}}&quot; role&#x3D;&quot;alert&quot;&gt;  &lt;div class&#x3D;&quot;container&quot;&gt;
    &lt;div class&#x3D;&quot;alert-icon&quot;&gt;
      &lt;i class&#x3D;&quot;now-ui-icons ui-1_bell-53&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
    &lt;strong&gt;{{alertNotification.header}}&lt;/strong&gt; :: {{alertNotification.title}}
    &lt;ul&gt;
      &lt;li *ngFor&#x3D;&quot;let message of alertNotification.messages&quot;&gt;{{message}}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;close &quot; data-dismiss&#x3D;&quot;alert&quot; aria-label&#x3D;&quot;Close&quot;&gt;
      &lt;span aria-hidden&#x3D;&quot;true&quot;&gt;
        &lt;i class&#x3D;&quot;now-ui-icons ui-1_simple-remove&quot;&gt;&lt;/i&gt;
      &lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre></td>
            </tr>



        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#alertNotification">alertNotification</a>
                            </li>
                            <li>
                                <a href="#hasMessage">hasMessage</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor()</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">libs/core/src/components/alert/alert.component.ts:27</a></div>
                            </td>
                        </tr>

            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-2">
                        <a name="alertNotification"></a>
                        <code>alertNotification</code>
                    </td>
                    <td class="col-md-10">
                            <p>
                            <em>Type:</em>    <code>AlertNotification</code>

                            </p>
                        <p>
                            <em>Default value: </em><code>new AlertNotification(&#x27;&#x27;, &#x27;&#x27;)</code>
                        </p>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="25" class="link-to-prism">libs/core/src/components/alert/alert.component.ts:25</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-2">
                        <a name="hasMessage"></a>
                        <code>hasMessage</code>
                    </td>
                    <td class="col-md-10">
                            <p>
                            <em>Type:</em>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                            </p>
                        <p>
                            <em>Default value: </em><code>false</code>
                        </p>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">libs/core/src/components/alert/alert.component.ts:27</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>



    <section>
    
        <h3 id="methods">
            Methods
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="ngOnInit"></a>
                        <span class="name">
                            <b>
                            ngOnInit
                            </b>
                            <a href="#ngOnInit"><span class="fa fa-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>ngOnInit()</code>
                    </td>
                </tr>


                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="30" class="link-to-prism">libs/core/src/components/alert/alert.component.ts:30</a></div>
                            </td>
                        </tr>


                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>


</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, Input, OnInit } from &#x27;@angular/core&#x27;;

import { AlertNotification } from &#x27;@buildmotion/foundation&#x27;;

@Component({
  selector: &#x27;buildmotion-alert&#x27;,
  template: &#x60;&lt;div *ngIf&#x3D;&quot;hasMessage&quot; class&#x3D;&quot;alert {{alertNotification.type}}&quot; role&#x3D;&quot;alert&quot;&gt;
  &lt;div class&#x3D;&quot;container&quot;&gt;
    &lt;div class&#x3D;&quot;alert-icon&quot;&gt;
      &lt;i class&#x3D;&quot;now-ui-icons ui-1_bell-53&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
    &lt;strong&gt;{{alertNotification.header}}&lt;/strong&gt; :: {{alertNotification.title}}
    &lt;ul&gt;
      &lt;li *ngFor&#x3D;&quot;let message of alertNotification.messages&quot;&gt;{{message}}&lt;/li&gt;
    &lt;/ul&gt;
    &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;close &quot; data-dismiss&#x3D;&quot;alert&quot; aria-label&#x3D;&quot;Close&quot;&gt;
      &lt;span aria-hidden&#x3D;&quot;true&quot;&gt;
        &lt;i class&#x3D;&quot;now-ui-icons ui-1_simple-remove&quot;&gt;&lt;/i&gt;
      &lt;/span&gt;
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;&#x60;
})
export class AlertComponent implements OnInit {
  @Input() alertNotification: AlertNotification &#x3D; new AlertNotification(&#x27;&#x27;, &#x27;&#x27;);
  // @Input() set showAlert(showAlert: boolean){this.hasMessage &#x3D; showAlert || false; };
  @Input() hasMessage: boolean &#x3D; false;
  constructor() {}

  ngOnInit() {}
}
</code></pre>
    </div>


    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div *ngIf="hasMessage" class="alert {{alertNotification.type}}" role="alert">  <div class="container">    <div class="alert-icon">      <i class="now-ui-icons ui-1_bell-53"></i>    </div>    <strong>{{alertNotification.header}}</strong> :: {{alertNotification.title}}    <ul>      <li *ngFor="let message of alertNotification.messages">{{message}}</li>    </ul>    <button type="button" class="close " data-dismiss="alert" aria-label="Close">      <span aria-hidden="true">        <i class="now-ui-icons ui-1_simple-remove"></i>      </span>    </button>  </div></div></div>'
    var COMPONENTS = [{'name': 'AlertComponent', 'selector': 'buildmotion-alert'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'AlertComponent'};
</script>
<script src="../js/tree.js"></script>











                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

        <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'AlertComponent.html';
        </script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
       <script src="../js/search/search_index.js"></script>


    </body>
</html>
